.header{
    background-color: rgb(69, 121, 170);
    text-align: center;
    color:white;
    padding: 10px;
}
.container{
    display:flex;
}
.Home{
    margin-left: 50px;
}
.Footer{
    background-color: grey;
    text-align: right;
    color:white;
    padding: 6px;
}