header{
    background-color: #72246C;
    width:100%;
}
footer{
    padding:10px;
    background-color: #722b24;
    text-align: center;
    color:white;
}
main{
    display:flex;
    overflow:auto;
    width:100%;
}

#leftsidenav{
    background-color: #24722b;
    width:10%;
   
}
#leftsidenav a:hover{
    color:orange;
}
#rightSidebar{
    padding:15px;
    border-left: 3px solid;
    width:15%;
}
#rightSidebar h3{
    color:#246c72;
}

#MainColumn{
    width:75%;
    padding-left: 5px;
}
.performance-table,th, td{
    border: 1px solid;
}
.performance-table td:first-child {
    text-align: center;
}
tr:nth-child(odd){
    background:#CCC;
}
.highlight{
    font-weight: bold;
}
#social-bar{
    background-color: black;
    margin-right: 90.4%;
}
#social-bar img{
    width:  37px;
    height: 37px;
    background-size: cover;
}
.tickets img{
    width:  200px;
    height: 300px;
    background-size: cover;
}